In [14]:
import pandas as pd

# Create URL to JSON file 
url = 'https://data.cdc.gov/resource/3h58-x6cd.json'

# Load the JSON file into a data frame
df = pd.read_json(url)

# View 
df

,birth_rate,combined_fips_code,county,county_fips_code,lower_confidence_limit,state,state_fips_code,upper_confidence_limit,year
0,46.377215,1001,Autauga,1,40.683107,Alabama,1,52.508481,2003
1,46.050618,1001,Autauga,1,41.084735,Alabama,1,51.340795,2004
2,43.941062,1001,Autauga,1,39.513897,Alabama,1,48.646647,2005
3,43.826654,1001,Autauga,1,39.570766,Alabama,1,48.345353,2006
4,43.757806,1001,Autauga,1,39.573448,Alabama,1,48.199268,2007
5,42.169739,1001,Autauga,1,38.130402,Alabama,1,46.458997,2008
6,38.709310,1001,Autauga,1,34.932726,Alabama,1,42.724053,2009
7,34.948071,1001,Autauga,1,31.415432,Alabama,1,38.714537,2010
8,31.778155,1001,Autauga,1,28.437291,Alabama,1,35.348937,2011
9,30.197146,1001,Autauga,1,26.889883,Alabama,1,33.738191,2012
10,27.873782,1001,Autauga,1,24.638898,Alabama,1,31.347759,2013
11,25.653807,1001,Autauga,1,22.413857,Alabama,1,29.156865,2014
12,23.982563,1001,Autauga,1,20.576748,Alabama,1,27.714187,2015
13,46.906284,1003,Baldwin,3,42.757313,Alabama,1,51.269543,2003
14,46.887848,1003,Baldwin,3,43.302008,Alabama,1,50.637666,2004
15,47.290569,1003,Baldwin,3,43.847175,Alabama,1,50.888176,2005
16,50.343271,1003,Baldwin,3,46.793824,Alabama,1,54.046465,2006
17,52.018982,1003,Baldwin,3,48.413979,Alabama,1,55.777041,2007
18,50.412586,1003,Baldwin,3,46.903067,Alabama,1,54.072165,2008
19,45.971712,1003,Baldwin,3,42.693815,Alabama,1,49.393917,2009
20,40.985363,1003,Baldwin,3,37.964536,Alabama,1,44.145606,2010
21,36.488924,1003,Baldwin,3,33.713285,Alabama,1,39.397670,2011
22,34.631538,1003,Baldwin,3,31.939347,Alabama,1,37.456092,2012
23,31.601545,1003,Baldwin,3,29.066747,Alabama,1,34.264783,2013
24,29.447590,1003,Baldwin,3,26.941334,Alabama,1,32.084685,2014
25,27.831022,1003,Baldwin,3,25.098360,Alabama,1,30.728315,2015
26,68.888029,1005,Barbour,5,60.251570,Alabama,1,78.186242,2003
27,69.573479,1005,Barbour,5,61.778731,Alabama,1,77.882782,2004
28,70.587808,1005,Barbour,5,63.146478,Alabama,1,78.501716,2005
29,75.881743,1005,Barbour,5,68.163910,Alabama,1,84.079952,2006
...,...,...,...,...,...,...,...,...,...
970,32.273841,2090,Fairbanks North Star,90,29.288680,Alaska,2,35.438851,2011
971,31.187189,2090,Fairbanks North Star,90,28.198445,Alaska,2,34.361499,2012
972,29.028331,2090,Fairbanks North Star,90,26.101495,Alaska,2,32.143695,2013
973,27.236886,2090,Fairbanks North Star,90,24.269642,Alaska,2,30.406883,2014
974,26.176976,2090,Fairbanks North Star,90,22.934334,Alaska,2,29.681948,2015
975,19.125337,2100,Haines,100,11.434170,Alaska,2,29.121077,2003
976,18.736013,2100,Haines,100,11.252949,Alaska,2,28.405607,2004
977,18.256753,2100,Haines,100,11.004655,Alaska,2,27.586773,2005
978,18.780329,2100,Haines,100,11.354379,Alaska,2,28.297550,2006
979,19.008010,2100,Haines,100,11.511880,Alaska,2,28.594061,2007
980,18.541640,2100,Haines,100,11.235910,Alaska,2,27.879545,2008
981,17.630439,2100,Haines,100,10.678967,Alaska,2,26.524511,2009
982,16.072824,2100,Haines,100,9.719651,Alaska,2,24.224016,2010
983,14.901679,2100,Haines,100,8.990634,Alaska,2,22.511915,2011
984,14.127400,2100,Haines,100,8.499143,Alaska,2,21.403059,2012
985,12.825821,2100,Haines,100,7.686536,Alaska,2,19.505515,2013
986,11.809228,2100,Haines,100,7.047421,Alaska,2,18.035385,2014
987,10.866200,2100,Haines,100,6.455192,Alaska,2,16.671210,2015
988,28.315297,2110,Juneau,110,23.861567,Alaska,2,33.242504,2003
989,27.826321,2110,Juneau,110,23.801258,Alaska,2,32.227028,2004
990,27.446554,2110,Juneau,110,23.690529,Alaska,2,31.532266,2005
991,28.095941,2110,Juneau,110,24.377129,Alaska,2,32.131477,2006
992,28.373692,2110,Juneau,110,24.671524,Alaska,2,32.388498,2007
993,27.644065,2110,Juneau,110,24.036414,Alaska,2,31.558002,2008
994,26.692828,2110,Juneau,110,23.160120,Alaska,2,30.531768,2009
995,24.343430,2110,Juneau,110,21.034933,Alaska,2,27.948778,2010
996,22.545677,2110,Juneau,110,19.376727,Alaska,2,26.009791,2011
997,21.185661,2110,Juneau,110,18.076854,Alaska,2,24.598187,2012
998,18.976121,2110,Juneau,110,16.032316,Alaska,2,22.227551,2013
999,17.237772,2110,Juneau,110,14.383828,Alaska,2,20.418086,2014

In [23]:
#!/usr/bin/env python

# make sure to install these packages before running:
# pip install pandas
# pip install sodapy

import pandas as pd
from sodapy import Socrata

# Unauthenticated client only works with public data sets. Note 'None'
# in place of application token, and no username or password:
# client = Socrata("data.cdc.gov", None)

# Example authenticated client (needed for non-public datasets):
client = Socrata("data.cdc.gov",
                 "MyAppToken",
                 username="stepco99@yahoo.com",
                 password="XXX")

# First 2000 results, returned as JSON from API / converted to Python list of
# dictionaries by sodapy.
results = client.get(url)

# Convert to pandas DataFrame
results_df = pd.DataFrame.from_records(results)

HTTPError: 404 Client Error: Not Found.
	No service found for this URL.